<html>
    <head>
        <meta charset="utf-8">
        <link href="./css/style.css" rel="stylesheet" />
        <title>TORYO Web Sites at Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="header_child">
                    <p>TORYO Web Sites</p>
                </div>
                <div class="header_child">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#graph">Graph</a></li>
                        <li><a href="#accounting">Account</a></li>
                    </ul>
                </div>
            </div>
            <section class="top">
                <div class="text-area">
                    <h1>
                        TORYO Web Sites<br>
                        ~ Visible Only in Home ~
                    </h1>
                    <p>
                        This website publishes only in my home.<br>
                        So, you cannot visible outside.
                    </p>
                </div>
            </section>
            <section class="graph" id="graph">
                <div class="wrapper content flex-reverse">
                    <div class="text-area">
                        <h2>
                            Visualizing Sensor Data
                        </h2>
                        <p>
                            The charts show the temperature and the humid in my room. 
                        </p>
                    </div>
                    <div class="chart-area">
                        <canvas id="temperature"></canvas>
                        <!-- <canvas class="humid"></canvas> -->
                    </div>
                    <script type="text/javascript">
                    </script>
                    <script src="/js/graph_temp.js">
                    </script>
                </div>
            </section>
            <section class="accounting" id="accounting">
                <div class="wrapper context">
                    <div class="text-area">
                        <h2>
                            Visualizing Accounting Data
                        </h2>
                        <p>
                            If you click the "Display" button, you can see your income data this year.
                            And another button, the "Register" button, registers the new income data.
                        </p>
                        <button id="display_income">Display</button>
                        <button onclick="location.href='/inputform'">Register</button>
                    </div>
                    <div class="chart-area">
                        <canvas class="acccounting"></canvas>
                    </div>
                    <!-- <script src="/js/graph_income.js"></script> -->
                </div>
            </section>
            <section class="footer">
                <small>
                    &copy; R.Sato 2022
                </small>
            </section>
        </div>
    </body>
</html>