<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" />
        <title>Top Page</title>
    </head>
    <body>
        <div id="content">
            <div id="header">
                <h1>
                    Top Page
                </h1>
            </div>
            <div id="body">
                <p>
                    <a href="/sensor">Sensor Information</a>
                    <a href="/#">Accounting</a>
                </p>
            </div>
            <div id="footer">
                <small>
                    &copy; R.Sato 2022
                </small>
            </div>
        </div>
    </body>
</html>