<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/graph.js"></script>
        <title>TORYO Web Sites at Home</title>
        <!-- https://cdnjs.com/libraries/Chart.js -->
    </head>
    <body>
        <div id="content">
            <section id="header">
                <div>
                    <h1>
                        TORYO Web Sites<br>
                        ~ Visible Only in Home ~
                    </h1>
                    <p>
                        This website publishes only in my home.<br>
                        So, you cannot visible outside.
                    </p>
                </div>
            </section>
            <section id="graph">
                <h2>
                    Visualizing Sensor Data
                </h2>
                <canvas id="temperature"></canvas>
                <!-- <canvas id="humid"></canvas> -->
            </section>
            <section id="accounting">
                <h2>
                    Visualizing Accounting Data
                </h2>
                <canvas id="acccounting"></canvas>
            </section>
            <section id="footer">
                <small>
                    &copy; R.Sato 2022
                </small>
            </section>
        </div>
    </body>
</html>