<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet">
        <title>Sensor Information</title>
    </head>
    <body>
        <div id="content">
            <div id="header">
                <h1>
                    Sensor Information Visibility Site Using Raspberry Pi
                </h1>
            </div>
            <div id="body">
                <canvas id="temperature"></canvas>
                <canvas id="humid"></canvas>
            </div>
            <div id="footer">
                <small>
                    &copy; R.Sato 2022
                </small>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>